@page
@model Touring.Pages.Admin.Accommodation.IndexModel

@{
    ViewData["Title"] = "Accommodations List";
}

<div class="container row">
    <div class="col-12 row">
        <h2 class="col text-primary">Accommodations List:</h2>
        <div class="col text-end"><a class="btn btn-primary" asp-page="Create">New Accommodation</a></div>
    </div>
    <div class="col-12">
        <table id="dataTable" class="text-center table-striped table-responsive table border mx-1 mx-auto">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Contact Name</th>
                    <th>Phone</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Accommodation.js"></script>
}




@*
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
  *@
