@page
@model Touring.Pages.Admin.Users.IndexModel


<div class="container row">
    <div class="col-12 row">
        <h2 class="col text-primary">Activities List:</h2>
        <div class="col text-end"><a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">New User</a></div>
    </div>
    <div class="col-12">
        <table id="dataTable" class="text-center table-striped table-responsive table border mx-1 mx-auto">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Roles</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Users.js"></script>
}