@page
@model Touring.Pages.Admin.Activity.EditActivityModel

@{
    ViewData["Title"] = "EditActivity";
}

<h1>EditActivity</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Activity.Id" />
            <div class="form-group">
                <label asp-for="Activity.Name" class="control-label"></label>
                <input asp-for="Activity.Name" class="form-control" />
                <span asp-validation-for="Activity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Country" class="control-label"></label>
                <input asp-for="Activity.Country" class="form-control" />
                <span asp-validation-for="Activity.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.City" class="control-label"></label>
                <input asp-for="Activity.City" class="form-control" />
                <span asp-validation-for="Activity.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Address" class="control-label"></label>
                <input asp-for="Activity.Address" class="form-control" />
                <span asp-validation-for="Activity.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Description" class="control-label"></label>
                <textare asp-for="Activity.Description" class="form-control" style="height:100px;"></textare>
                <span asp-validation-for="Activity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.Recommendations" class="control-label"></label>
                <textarea asp-for="Activity.Recommendations" class="form-control" style="height:100px;"></textarea>
                <span asp-validation-for="Activity.Recommendations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity.price" class="control-label"></label>
                <input asp-for="Activity.price" class="form-control" />
                <span asp-validation-for="Activity.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
