@page
@model Touring.Pages.Admin.Tours.FinalizeTourModel


<div class="container row">
    <div class="col-12 row">
        <h2 class="col text-primary">Finalize Tour</h2>
        <div class="col justify-content-end"><a class="text-center btn btn-primary"asp-page="Create-Tour-Details">Add More Details</a></div>
    </div>
    <div class="col-12">
        her goes the main content
    </div>
</div>
