/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/*end of custom design form the user page header nav bar*/

.userNavBar {
    background-color: #ecf2e5;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    color: #6d9716;
    font-weight: bold;
}

nav.userNavBar a {
    color: #6d9716;
}

nav .logo {
    position: relative;
    max-height: 35px;
}

.text-green {
    color: #6d9716;
}

.bg-light-green {
    background-color: #ecf2e5;
}

nav a {
    cursor: pointer;
}

/*end of custom design form the user page header nav bar*/

/*------------------------------------------------------*/
/*       Home page landing section slider styling       */
.sliderMain {
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.6)), url(../images/sliderImage.jpg);
    background-size: cover;
    min-height: 70vh;
    margin:0;

}

.sliderMain .infoFrame{
    background-color: rgba(0,0,0,0.3);
    border-radius: 30px 30px 30px 30px;
    max-height:30vh;
}
.infoFrame p{
    max-height:20vh;
}

.infoFrame a {
    text-shadow:1px 1px 2px black;
    text-decoration:underline green;
}

.tourSearch{
    min-height:50px;
    border-radius:25px 25px 25px 25px;
    background: white;

}

.tourSearch .searchBtn{
    height:40px;
    background-color:#7eb017;
    border:solid 2px #6d9716;
    border-radius:20px 20px 20px 20px;
    margin:5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);

}

.searchBtn h4{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.4);
    padding-top:0.4rem;
}
.tourSearch .searchfield{
    border:none;
    border-bottom: solid 1px rgba(128,128,128,0.5);
}

.searchfield select{
    min-width:200px;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*End of Home page landing section slider styling*/


/* ---------Tour Search page styling------------ */
/* ----------------------------------------------*/




/* ----------------------------------------------*/
/* -------End of Tour Search page styling------- */




a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content {
    position: relative;
    width: 100%;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
    display: block;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}

#sidebar p {
    font-family: 'poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}

a, a:hover, a:focus {
    text-decoration: none;
    color: #fff;
    transition: all 0.4s;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}


#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li a:hover {
        color: #000;
        background-color: #6d7fcc;
    }

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    /*    background: #6d7fcc;*/
}

ul ul a {
    font-size: 0.9em;
    padding-left: 30px !important;
}



.overalStyle {
    /*background-image:url('/images/texture.jpg');*/
    background: white;
}

.light-ground {
    border-radius: 7px;
    padding: 10px;
    background-color: #00000030;
    color: black;
    text-wrap: normal;
}

.card {
    border-radius: 5px;
}
