@using Touring.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Touring</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="overalStyle">
    @if (User.IsInRole(SD.RoleManager))
    {
        //https://bootstrapious.com/p/bootstrap-sidebar
        <div class="wrapper">
            <nav id="sidebar" class="bg-dark p-2">
                <div class="sidebar-header">
                    <h3 class="p-1" style="color: #6d7fcc;">Touringo</h3>
                </div>
                <ul class="list-unstyled components">
                    <a asp-page="/Admin/Index" style="text-decoration:none;cursor:pointer;"><p>Dashboard</p></a>
                    <li class="active">
                        <a href="#homesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Tours</a>
                        <ul id="homesubmenu" class="collapse list-unstyled">
                            <li><a asp-page="/Admin/Tours/Index">Tours</a></li>
                            <li><a asp-page="/Admin/Tours/Create">Create a Tour</a></li>
                            <li><a href="#">Modify Tours</a></li>
                            <li><a href="#">Tour History</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#pagesubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Events</a>
                        <ul class="collapse list-unstyled" id="pagesubmenu">
                            <li><a asp-page="/Admin/Accommodation/Index">Accomodations</a></li>
                            <li><a asp-page="/Admin/Activity/Index">Activities</a></li>
                            <li><a asp-page="/Admin/Trip/Index">Trips</a></li>
                            <li><a asp-page="/Admin/Meal/Index">Meals</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Users</a>
                        <ul class="collapse list-unstyled" id="userSubmenu">
                            <li><a asp-page="/Admin/Users/Index">Users List</a></li>
                            <li><a href="#">Page2</a></li>
                            <li><a href="#">Page3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li><a href="#">portfolio</a></li>
                    <li><a href="#">contacts</a></li>
                </ul>
            </nav>
            <div id="content">

                <nav class="navbar navbar-expand" style="border-bottom:1px solid #808080;">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-info" id="sidebarCollapse">
                            <i class="fas fa-align-left"></i>
                        </button>
                        <partial name="_LoginPartial" />
                    </div>

                </nav>


                <div class="container p-3">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    }
    else
    {

        <header class="py-0">
            <nav class="userNavBar navbar navbar-expand-sm navbar-toggleable-sm py-sm-0  m-0 bg-light-green">
                <div class="container px-5">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-flex flex-column justify-content-between">
                        <div class="container-fluid d-sm-flex flex-row justify-content-between align-items-start" style="border-bottom:solid 1px rgba(0,255,33,0.5)">
                            <a asp-area="" asp-page="/Index"><img class="logo d-none d-sm-block" src="~/images/Logo-Image.png" /></a>
                            <partial name="_LoginPartial" />
                        </div>

                        <ul class="navbar-nav d-flex align-items-start">
                            <li class="nav-item">
                                <a class="nav-link text-green">Tours</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-green">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-green">Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-green">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-green">About us</a>
                            </li>

                        </ul>
                    </div>

                </div>
            </nav>

        </header>


        <div class="container-fluid p-0 m-0" >
            <main role="main" >
                @RenderBody()
            </main>
        </div>



    }

    <footer class="footer bg-dark text-muted">
        <div class="container">
            &copy; 2022 - Touring - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="https://kit.fontawesome.com/7cbc151c47.js" crossorigin="anonymous"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
